
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');


/* || RESET ---------------------------------------------------------------------------------------*/
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES -----------------------------------------------------------------------------------*/
:root{
    /* FONTS */
    --FONT_FAMILY: "Merriweather", serif;
    /* FONT SIZES */

    /* COLORS */
    /* #222823 */
    --HEADER_BG_COLOR: #2d2d2d;
    --BODY_BG_COLOR: rgb(70, 69, 69);
    --MAIN_BG_COLOR: #242424;
    --SKILL_BG_COLOR: #4e4e4e;
    --PROJECT_BG_COLOR: #4e4e4e;
    --PROJECT_DESC_BG_COLOR: #3e3e3e;
    --SIDEBAD_BG_COLOR: #2d2d2d;

    /* STANDARD BORDERS */
    --STANDARD_PADDING: 10px 10px;
    --STANDARD_VER_PADDING: 20px 0;
    --STANDARD_HOR_PADDING: 0px 10px;
    /* STANDARD BORDERS */

    /* STANDARD MARGINS */
}

/* || UTILITY CLASSES  ----------------------------------------------------------------------------*/
.no-wrap{
    text-wrap: nowrap;
}

.hidden{
    display: none;
}

.center{
    text-align: center;
}

/* || GENERAL STYLES  -----------------------------------------------------------------------------*/
html{

}

body{
    background-color: var(--BODY_BG_COLOR);
}

main{
    background: var(--MAIN_BG_COLOR);
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    /* scroll-margin-top: 60px; */
}

header{
    background: var(--HEADER_BG_COLOR);
    height: 70px;

    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 7px black;

    padding: var(--STANDARD_PADDING);
    
}

footer{
    background: var(--HEADER_BG_COLOR);
    min-height: 100px;
}

a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:focus-visible{
    text-decoration: underline;
}

p{
    font-size: clamp(1.0rem, 5.2vw, 1.3rem);;
}

h1, h2, h3, h4, a, p{
    color: white;
}

h1, h2, h3, h4{
    margin-bottom: 20px;
}

h1{
    font-size: clamp(3.2rem, 5.5vw, 4.8rem);
}

h2{
    font-size: clamp(2.5rem, 5.3vw, 3.0rem);
}

h3{
    font-size: clamp(1.2rem, 5.2vw, 1.8rem);
}

h4{

}

/* || CUSTOM STYLES  ------------------------------------------------------------------------------*/

/* || HEADER  -------------------------------------------------------------------------------------*/
.shown{
    display: flex;
    gap: 20px;
}

.header-button{
    display: none;
}

.button{
    min-width: 50px;
    min-height: 50px;
}

/* || MAIN  ---------------------------------------------------------------------------------------*/

.main{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: var(--STANDARD_HOR_PADDING);

}

.section{
    /* background-color: hwb(0 100% 0% / 0.3); */

}

.section:nth-child(odd){
    /* background: hwb(0 23% 77% / 0.3); */
}

/* || VECTICAL-NAVIGATION -------------------------------------------------------------------------*/
.sidebar{
    min-width: 70%;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: var(--SIDEBAD_BG_COLOR);
    overflow-y: hidden;
    transform: 0.5s;
    padding: 10px;

    box-shadow: 1px 1px 7px black;
}

.sidebar__links{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
}

/* || ABOUT  --------------------------------------------------------------------------------------*/
.about{
    padding: var(--STANDARD_VER_PADDING);
    min-height: 300px;
    scroll-margin-top: 60px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.about p{
    max-width: 600px;
    /* width: 100%; */
}

.about button{
    max-width: 100px;
}
/* || SKILLS  -------------------------------------------------------------------------------------*/
.skills{
    padding: var(--STANDARD_VER_PADDING);
    scroll-margin-top: 60px;
}

.skill{
    background: var(--SKILL_BG_COLOR);
}
/* || PROJECTS  -----------------------------------------------------------------------------------*/
.projects{
    padding: var(--STANDARD_VER_PADDING);
    /* min-height: 1200px; */
    scroll-margin-top: 60px;
}

.project{
    background: var(--PROJECT_BG_COLOR);
    /* box-shadow: 5px 5px 5px #636363; */
    border: 3px solid #7c7c7c;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    gap: 20px;

}

.card{
    width: 30%;
    height: clamp(100px, 23vw, 300px);
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 20px 20px;
    text-align: center;

    gap: 10px;
}

.card__title {
    /* min-height: clamp(40px, 5.0vw, 65px); */
}

.skills img{
    /* max-height: 70px; */
    height: 5em;
}

.card .card__down{
    
}

.description{
    background: var(--PROJECT_DESC_BG_COLOR);
    display: none;
    width: 90%;
    height: 400px;
    opacity: 1;
    order: 1;
    overflow: scroll;
    overflow-y: auto;
    /* box-shadow: 5px 5px 5px ; */
    overflow-x: hidden;

    /* box-shadow: 5px 5px 5px #636363; */

    
}

.screen_view{
    display: block;
    position:fixed;
    width:100%;
    height: 100%;
    z-index: 10;
    top: 0;
    /* overflow: scroll;
    overflow-y: auto; */
}

.show{
    display: block;
}

.dropdown{
    position: relative;
    animation-name: down;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.up{
    position: relative;
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes down{
    0% {height: 0px;}
    100% {height: 400px;}
}

@keyframes up{
    0% {height: 400px;}
    99% {height: 0px; }
    100% {display: none; }
}

.card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
    order: 0;
}

.card:nth-child(4), .card:nth-child(5), .card:nth-child(6){
    order: 2;
}

/* || CONTACT  ------------------------------------------------------------------------------------*/
.contact{
    min-height: 300px;
}

/* || MEDIA  --------------------------------------------------------------------------------------*/
/* || VERY SMALL */
@media screen and (max-width: 380px){

}

/* || SMALL */
@media screen and (max-width: 576px){
   
}

/* || MEDIUM */
@media screen and (max-width: 846px){
    .cards{
        flex-direction: column;
        align-content: center;
    }

    .card{
        /* height: 300px; */
        height: auto;
        width: 70%;
    }

    header{
        justify-content: end;
    }

    .shown{
        display: none;
    }

    .header-button{
        display: block;
    }
}

/* || LARGE */
@media screen and (max-width: 992px){

}

/* || XL */
@media screen and (max-width: 1200px){

}