
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');


/* || RESET ---------------------------------------------------------------------------------------*/
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES -----------------------------------------------------------------------------------*/
:root{
    /* FONTS */
    --FONT_FAMILY: "Merriweather", serif;
    /* FONT SIZES */

    /* COLORS */
    /* #222823 */
    --HEADER_BG_COLOR: #2d2d2d;
    --BODY_BG_COLOR: rgb(70, 69, 69);
    --MAIN_BG_COLOR: #242424;
    --SKILL_BG_COLOR: #4e4e4e;
    --PROJECT_BG_COLOR: #4e4e4e;
    --PROJECT_DESC_BG_COLOR: #3e3e3e;
    --SIDEBAD_BG_COLOR: #2d2d2d;

    /* STANDARD PADDING */
    --STANDARD_PADDING: 10px 10px;
    --STANDARD_VER_PADDING: 20px 0;
    --STANDARD_HOR_PADDING: 0px 10px;

    /* STANDARD BORDERS */
    --STANDARD_BORDER: 2px rgba(255, 255, 255, 0.402) solid;
    
    /* STANDARD BORDERS_RADIUS */
    --STANDARD_BORDER_RADIUS: 10px;

    /* STANDARD MARGINS */
    --STANDARD_GAP: 15px;
    
    /* STANDARD GAP */

}

/* || UTILITY CLASSES  ----------------------------------------------------------------------------*/
.no-wrap{
    text-wrap: nowrap;
}

.hidden{
    display: none;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}


.link{
    border: var(--STANDARD_BORDER);
    border-radius: 5px;
    padding: 3px;
}

/* || GENERAL STYLES  -----------------------------------------------------------------------------*/
body{
    background-color: var(--BODY_BG_COLOR);
}

main{
    background: var(--MAIN_BG_COLOR);
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    /* scroll-margin-top: 60px; */
}

header{
    background: var(--HEADER_BG_COLOR);
    height: 70px;

    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 7px black;

    padding: var(--STANDARD_PADDING);
    z-index: 999;
}

footer{
    background: var(--HEADER_BG_COLOR);
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

/* || HEADER  -------------------------------------------------------------------------------------*/


a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:focus-visible{
    text-decoration: underline;
}

p{
    font-size: clamp(1.0rem, 5.2vw, 1.3rem);
}

h1, h2, h3, h4, a, p{
    color: white;
}

h1, h2, h3, h4{
    margin-bottom: 20px;
}

h1{
    font-size: clamp(3.2rem, 5.5vw, 4.8rem);
}

h2{
    font-size: clamp(2.5rem, 5.3vw, 3.0rem);
}

h3{
    font-size: clamp(1.2rem, 5.2vw, 1.8rem);
}

h4{
    font-size: clamp(1.0rem, 5.2vw, 1.4rem);
}

.button{
    min-width: 50px;
    min-height: 50px;
    background: none;
    border: none;
    color: white;
}

.icon{
    pointer-events: none;
    font-size: 40px;
}


/* || CUSTOM STYLES  ------------------------------------------------------------------------------*/

/* || HEADER  -------------------------------------------------------------------------------------*/
.shown{
    display: flex;
    gap: 20px;
}

.header-button{
    display: none;
}

/* || FOOTER  -------------------------------------------------------------------------------------*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: var(--STANDARD_PADDING);
    gap: var(--STANDARD_GAP);
    padding-top: 15px;
}

.footer p, .footer a{
    font-size: clamp(1.0rem, 5.2vw, 1.3rem);
}

.footer p{
    color: grey
}

.footer__links{
    display: flex;
    gap: 5px;
}

/* || MAIN  ---------------------------------------------------------------------------------------*/

.main{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: var(--STANDARD_HOR_PADDING);
}

/* || VECTICAL-NAVIGATION -------------------------------------------------------------------------*/
.sidebar{
    min-width: 70%;
    min-height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background: var(--SIDEBAD_BG_COLOR);
    overflow-y: hidden;
    transform: 0.5s;
    padding: 10px;

    box-shadow: 1px 1px 7px black;

    flex-direction: column;
}

.sidebar__links{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
    gap: 20px;
}

.sidebar__close{
    align-self: end;
    margin-bottom: 30px;
}

/* || ABOUT  --------------------------------------------------------------------------------------*/
.about{
    padding: var(--STANDARD_VER_PADDING);
    min-height: 300px;
    scroll-margin-top: 60px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* gap: var(--STANDARD_GAP); */
}

.about p{
    max-width: 600px;
    /* width: 100%; */
    margin-bottom: var(--STANDARD_GAP);
}

.about button{
    max-width: 100px;
}

/* || SKILLS  -------------------------------------------------------------------------------------*/
.skills{
    padding: var(--STANDARD_VER_PADDING);
    scroll-margin-top: 60px;
}

.skill{
    background: var(--SKILL_BG_COLOR);
}
/* || PROJECTS  -----------------------------------------------------------------------------------*/
.projects{
    padding: var(--STANDARD_VER_PADDING);
    /* min-height: 1200px; */
    scroll-margin-top: 60px;
}

.project{
    width: 100%;
    max-width: 93%;
    background: var(--PROJECT_BG_COLOR);
    /* background: red; */
    /* box-shadow: 5px 5px 5px #636363; */
    /* border: 3px solid #7c7c7c; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: var(--STANDARD_PADDING);

    border: var(--STANDARD_BORDER);
    border-radius: var(--STANDARD_BORDER_RADIUS);
}

.project img{
    /* max-width: 70%; */
    padding-bottom: 20px;
}


.project__description p{
    max-width: 800px;
    padding-bottom: 15px;
}

.project__description h4{
    padding-bottom: 10px;
}
.project__description h4{
    margin-bottom: 5px;
    text-align: center;
}

.project 
.slide-container{
    /* max-width: 800px; */
    max-width: 90%;
    position: relative;
    margin: auto;
    /* padding-bottom: 20px; */
}

.slides{
    display: flex;
    align-items: center;
    align-content: center;
}

.slides{
    display: none;
}

.slides img{
    width: 100%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0 3px 3px 0;
    -webkit-user-select: none;
    user-select: none;
} 

.next{
    right: 0;
    border: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.slides__text{
    color: while;
    background: hsla(0, 0%, 0%, 0.47);
    font-size: clamp(0.8rem, 3.5vw, 1.0rem);
    padding: 2px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;

    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.slides__number{
    color: while;
    background: hsla(0, 0%, 0%, 0.47);
    font-size: clamp(8px, 3.5vw, 12px);
    padding: clamp(0.6rem, 3.5vw, 0.8rem);
    position: absolute;
    top: 0;
}

.face{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

.video-container{
    position: relative;
    overflow: hidden;
    width: 70%;
    margin-bottom: 15px;
}

.video-container::after{
    display: block;
    content: "";
    padding-top: 56.25%; /*16:9 aspect ration*/
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 5.6 */
/* 3.15 */
iframe{
    /* width: calc((560px / 100) * 110); */
    /* height:  calc((315px / 100) * 110); */
    /* width: 560px; */
    /* height: 315px; */
    border: var(--STANDARD_BORDER);

}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    gap: 20px;

}

.card{
    width: 30%;
    height: clamp(100px, 23vw, 300px);
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 20px 20px;
    text-align: center;

    gap: var(--STANDARD_GAP);

    border: var(--STANDARD_BORDER);
    border-radius: var(--STANDARD_BORDER_RADIUS);
}

.skills img{
    /* max-height: 70px; */
    height: 5em;
}

.description{
    background: var(--PROJECT_DESC_BG_COLOR);
    display: none;
    /* width: 100%; */
    min-height: 500px;
    opacity: 1;
    order: 1;
    overflow: auto;
    overflow-y: auto;
    /* box-shadow: 5px 5px 5px ; */
    overflow-x: hidden;

    padding: var(--STANDARD_PADDING);

    overscroll-behavior: contain;

    /* box-shadow: 5px 5px 5px #636363; */
}

.card__close{
    align-self: flex-end;
}

.description__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 55px; */
}

.project__content{

    width: calc((560px / 100) * 110);
    height:  calc((315px / 100) * 110);
    padding-bottom: 15px;
}


.screen_view{
    display: flex;
    flex-direction: column;
    position:fixed;
    /* width:100%; */
    height: 100%;
    z-index: 10;
    top: 0;
    /* overflow: scroll;
    overflow-y: auto; */
}

.show{
    display: block;
}

.dropdown{
    position: relative;
    animation-name: down;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.up{
    position: relative;
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes down{
    0% {height: 0px;}
    100% {height: 400px;}
}

@keyframes up{
    0% {height: 400px;}
    99% {height: 0px; }
    100% {display: none; }
}

.card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
    order: 0;
}

.card:nth-child(4), .card:nth-child(5), .card:nth-child(6){
    order: 2;
}

/* || CONTACT  ------------------------------------------------------------------------------------*/
.contact{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--STANDARD_GAP);
}

/* || MEDIA  --------------------------------------------------------------------------------------*/



/* || MEDIUM */
@media screen and (max-width: 846px){
     .cards{
        flex-direction: column;
        align-content: center;
    } 

    .card{
        height: 300px; 
        height: auto; 
        width: 70%; 
    }  

    header{
        justify-content: end;
    }

    .shown{
        display: none;
    }

    .header-button{
        display: flex;
    }

    /* .project__content{

        width: calc((560px / 100) * 90);
        height:  calc((315px / 100) * 90);
        padding-bottom: 15px;
    } */
}

/* || SMALL */
@media screen and (max-width: 576px){
    /* .project__content{
        width: calc((560px / 100) * 70);
        height:  calc((315px / 100) * 70);
    } */
}

/* || VERY SMALL */
@media screen and (max-width: 380px){

    /* .project__content{
        width: calc((560px / 100) * 50);
        height:  calc((315px / 100) * 50);
    } */
}



/* || LARGE */
@media screen and (max-width: 992px){

}

/* || XL */
@media screen and (max-width: 1200px){

}